@import url("/CustomFont.scss");

.SitinRecord {
    margin-left: 375px;
    margin-top: -50%;
    height: 89vh;
    width: 1543px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

    h1 {
        font-family: 'Poppins-SemiBold';
        left: 3.2%;
        top: 0px;
        position: absolute;
        color: #282823;
    }

    .generate {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        margin-left: 3%;
        width: 93.5%;
        height: 60px;
        padding: 5px 0px;

        .filter {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 35%;
            select {
                width: 45%;
                height: 40px;
                padding-left: 8px;
                border-radius: 3px;
                background-color: #F5E8B6;
                color: #282823;
                outline: none;
                border: none;
                box-sizing: border-box;
                font-family: 'Poppins-SemiBold';
                box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2),0 2px 4px 0 rgba(0,0,0,0.19);
            }
        }
        .download {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 25%;

            select {
                width: 50%;
                height: 40px;
                padding-left: 8px;
                border-radius: 3px;
                background-color: #F5E8B6;
                color: #282823;
                outline: none;
                border: none;
                box-sizing: border-box;
                font-family: 'Poppins-SemiBold';
                box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2),0 2px 4px 0 rgba(0,0,0,0.19);
            }
            button {
                height: 40px;
                width: 150px;
                cursor: pointer;
                font-family: 'Poppins-SemiBold';
                background-color: #E9BE5F;
                border: 1px solid #E9BE5F;
                border-radius: 5px;
                box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2),0 2px 4px 0 rgba(0,0,0,0.19);
            }
        }
    }   

    .RecordContainer {
        margin-left: 3.2%;
        width: 1440px;
        height: 720px;
        border-radius: 3px;
        box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2),0 4px 10px 0 rgba(0,0,0,0.19);
        background-color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;

        .RecordTable {
            max-height: 1435px;
            width: 100%;
            overflow-y: auto;

            table {
                width: 100%;
                font-size: 16px;
                border-collapse: collapse;
                font-family: 'Poppins-Regular';

                thead {
                    position: sticky;
                    top: 0;
                    background-color: #F5E8B6;
                    color: black;
        
                    tr th {
                        text-align: left;
                        padding: 10px 20px;
                    }
                }
                tbody tr {
                    border-bottom: 1px solid #ddd;
                }
        
                tbody tr:nth-child(even) {
                    background-color: #f1f1f1;
                }
        
                tbody td {
                    padding: 10px 20px;
                    text-align: left;             
                }

                tbody tr .Active {
                    font-family: 'Poppins-ExtraBold';
                    color: #e74c3c;
                }
            }
        }
    }
}